@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.bibles {

    min-width: 50%;
    width: 100%;
    max-width: max-content;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cust-btn {
    display: inline-block;
    border: none;
    padding: 10px 20px !important;
    margin: 5px !important;
    border-radius: 5px !important;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.cust-btn:focus {
    outline: none;
}

.cust-btn:active {
    transform: scale(0.98);
}

.cust-btn-block {
    background: #000 !important;
    color: #fff !important;
    display: block;
    width: 100%;
}

.task {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.task.reminder {
    border-left: 7px solid green;
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task h5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-form {
    margin-bottom: 40px;
}

.form-control label {
    display: block !important;
}

.form-control input {
    width: 100% !important;
    height: 40px;
    margin: 5px;
    padding: 3px 7px !important;
    font-size: 17px;
}

.form-control-check {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.form-control-check label {
    flex: 1 !important;
}

.form-control-check input {
    flex: 2 !important;
    height: 20px !important;
}

footer {
    margin-top: 30px;
    text-align: center;
}

.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.number-input input[type="number"]::-webkit-inner-spin-button,
.number-input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    margin-bottom: 3rem;
}

.number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: "";
    height: 2px;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type="number"] {
    text-align: center;
}

.number-input.number-input {
    border: 1px solid #ced4da;
    width: 10rem;
    border-radius: 0.25rem;
}

.number-input.number-input button {
    width: 2.6rem;
    height: 0.7rem;
}

.number-input.number-input button.minus {
    padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
    width: 0.7rem;
    background-color: #495057;
}

.number-input.number-input input[type="number"] {
    max-width: 4rem;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
}